@{
  Layout = "_Layout";
}

<div class="container my-4">
  <div class="h-100 d-flex flex-column align-items-center">
    <h1 class="text-center my-4">Welcome Pierre's Sweet and Savory Treats!</h1>
    <p class="text-center my-4">Please create an account and login to see all flavors.</p>
  </div>
  <div class="d-flex flex-row justify-content-center my-4">
    <p class="fancyBtn mx-3">@Html.ActionLink("Add a Treat", "Create", "Treats")</p>
    <p class="fancyBtn mx-3">@Html.ActionLink("Add a Flavor", "Create", "Flavors")</p>
    <p class="fancyBtn mx-3">@Html.ActionLink("Create an account", "Index", "Account")</p>
    <p class="fancyBtn mx-3">@Html.ActionLink("Search", "ShowSearch", "Flavors")</p>
  </div>
</div>
